*.cs linguist-detectable=true
*.shader linguist-detectable=false
*.cginc linguist-detectable=false
*.meta linguist-detectable=false
*.anim linguist-detectable=false
*.controller linguist-detectable=false
*.mat linguist-detectable=false
*.prefab linguist-detectable=false
*.unity linguist-detectable=false
*.asset linguist-detectable=false
*.png linguist-detectable=false
*.jpg linguist-detectable=false
*.ttf linguist-detectable=false
